# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# autotools

*~
aclocal.m4
autom4te.cache
autoscan-*.log
autoscan.log
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure.scan
depcomp
.deps
.dirstamp
install-sh
.libs
libtool
ltmain.sh
m4
Makefile
Makefile.in
missing
stamp-h1

# built files
example/sample-query
